.area {
  fill: steelblue;
  clip-path: url(#clip);
}
  
.area :hover {
  fill: red;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.load_data {
  display: none;
}
.render_data {
  display: none;
}

.line-path {
  fill: none;
  stroke: rgb(3, 129, 66);
  stroke-width: 3;
  stroke-linejoin: round;
}