logcoleta.txt
assets/dataset/deter_amz_2015-01-01_2020-11-02/*
assets/dataset/deter_amz_2015-01-01_2020-11-02_part1.zip
assets/dataset/deter_amz_2016.geojson
assets/dataset/deter_amz_2017.geojson
assets/dataset/deter_amz_2018.geojson
assets/dataset/deter_amz_2019.geojson
assets/dataset/deter_amz_2020.geojson